<h1>New Movie</h1>
<%= form_with model: @movie do |form|  %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end%>