<h1>All Movies</h1>
<a href="/movies/new">New movie</a>
<% @movies.each do |movie| %>
  <h2><%= movie.name %></h2>
  <p>Image_url: <%= movie.image_url %></p>
  <p>Description: <%= movie.description %></p>
  <p>Category: <%= movie.category %></p>
  <a href="/movies/<%= movie.id %>">More info</a>
<% end %>