<br>
<hr>
<h1>Movie Info</h1>
<hr>
<br>

<style>
  .container {
    margin-bottom: 100px; /* Adjust the value as needed */
  }

  .btn {
    margin-right: 10px;
  }
</style>
<div style="display: flex; justify-content: center;">
  <div class="card text-bg-secondary border-light mb-3" style="max-width: 940px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%= @movie.image_url %>" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title"><%= @movie.name %></h3>
          <br>
          <p class="card-text"><%= @movie.description %></p>
          <br>
          <p class="card-text"><small class="text-body-light">Category: <%= @movie.category %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>


<div class="container">
  <div style="display: flex; justify-content: center;">
    <%= form_with model: @favorite do |form|  %>
      <div>
        <%= form.hidden_field :movie_id, value: params[:id] %>
      </div>
      <div>
        <%= form.submit "Add To Faves", class: "btn btn-success" %>
      </div>
    <% end%>

    
    <a href="/favorites/destroy/<%= @movie.id %>">
      <button type="button" class="btn btn-success">Remove From Faves</button>
    </a>

    <a href="/movies">
      <button type="button" class="btn btn-success">Back to all movies</button>
    </a>

    <%= link_to "Delete movie", movie_path(@movie), data: {turbo_method: :delete} %>
    <%= link_to "Edit Movie", edit_movie_path(@movie) %>
  </div>
</div>


