<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
  
    <title>Movie APP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      .h-10{ height: 10rem; }
      h1 {text-align: center;}
      .form-field {margin-bottom: 30px;}
      .navbar-brand {
      margin-left: 50px; /* Adjust the value as per your preference */
    }

    </style>
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/movies"><img src="/assets/movies-icon-28.jpg" alt="Image" style="width: 150px; height: auto;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if current_user %>
            <a class="navbar-brand" href="/favorites"><img src="/assets/avatars-000589747854-gzbnlo-t500x500.jpg" alt="Image" style="width: 150px; height: auto;"></a>
          <% end %>
        </li>
        <li class="nav-item">
          <% if current_user %>
            <a class="navbar-brand" href="/movies/new"><img src="/assets/add_movie.png" alt="Image" style="width: 150px; height: auto;"></a>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <% if current_user %>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account: <%= current_user.name %>
            </a>
          <% else %>
            <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up</a>
            </li>
          <% end %>

          <ul class="dropdown-menu">
            
            
            <li><a class="dropdown-item" href="/users">All Users</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search" action="/movies" method="get">
        <input class="form-control me-2" type="search" placeholder="Search Movie Title" aria-label="Search" name="name">
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>
    <%= yield %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

  </body>
</html>
